@font-face {
    font-family: 'Oswald';
    src: url('../../fonts/Oswald-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: Oswald;
}

body {
    background-color: lightgray;
}

.container {
    width: 1160px;
    height: 500px;
    border: 1px solid #111;
    position: relative;
    margin: 10px auto;
    border-radius: 10px;
    background-color: white;
}

.card {
    width: 160px;
    height: 240px;
    position: absolute;
    border-radius: 10px;
    perspective: 600px; 
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transition: all 1s;
    backface-visibility: hidden;
    word-wrap: break-word
}

.back {
    background-color: blue;
}

.card:hover {
    box-shadow: 0 0 10px black;
}

.back.flipped {
    transform: rotateY(180deg);
}

.front {
    transform: rotateY(-180deg);
}

.front.flipped {
    transform: rotateY(0deg);
}

#resposta {
    color: white;
    font-size: 2em;
    text-align: center;
    width: 1160px;
    background-color: #0D262D;
    margin: 10px auto;
    border-radius: 10px;
}

#resposta li {
    margin: 10px;
    display: inline;
}

.face.front {
    color: black;
    text-align: center;
    font-size: 3.5em;
}

.face.flipped.match {
    box-shadow: 0 0 10px #0f0;
}

a {
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
    font-weight: 200;
}

a:hover {
    color: blue;
    background-color: white;
    box-shadow: 0 0 10px blue;
}

#buttons {
    width: 200px;
    height: 40px;
    position: relative;
    margin: 10px auto;
    margin-top: 25px;
}

#buttons li {
    display: inline;
    margin: 10px
}